body{
background-color:black;
color:white;
text-align:center;
font-family:Arial;
}

.header{
margin-top:200px;
}

button{
background-color:red;
color:white;
border:none;
padding:10px 20px;
font-size:18px;
}